* {
  box-sizing: border-box;
  font-size: 1.1rem;
}

.llistat-item {
  display:flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px; 
}

.llistat-item span {
  margin: 3px;
  width: 200px;
}

.llistat-item img {
  height: 60px;
  margin-right: 15px;
}



/* Add padding to containers */
.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  border: 1px solid #bbb;
  margin: 5px;
}

label {
  font-weight: bold;
}

select {
    padding:5px;
}

/* Full-width input fields */
input[type="text"] {
  width: 400px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 100px;
}

.registerbtn:hover {
  opacity: 1;
}

.registerbtn:active {
  opacity: 0.7;
}
